# Frontend
VITE_API_BASE_URL=http://localhost:8000/api/v1
VITE_ADMIN_EMAIL=admin@gglusa.us
VITE_ADMIN_PASSWORD=Admin@12345
VITE_MYSQL_DATABASE=u546576758_ggl_usa
VITE_MYSQL_HOST=srv1900.hstgr.io
VITE_MYSQL_PORT=3306
VITE_MYSQL_USER=u546576758_karthik

# Admin credentials
ADMIN_EMAIL=admin@gglusa.us
ADMIN_PASSWORD=Admin@12345

# Remote MySQL
MYSQL_HOST=srv1900.hstgr.io
MYSQL_PORT=3306
MYSQL_DATABASE=u546576758_ggl_usa
MYSQL_USER=u546576758_karthik
MYSQL_PASSWORD=Admin@2026@#
